.login-button {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 2px 10px;
  background-color: #B4D342;
}

h4 {
  text-align: center;
}

.ql-container {
  min-height: 10em;
}
